---
import Layout from '@layouts/GalleryLayout.astro';
import ImgDescription from '@components/ImgDescription.astro';
---

<Layout
	title="Leadership Team and Construction Crew"
	description="Some of the people who made the Remembrance Gallery possible."
	keywords="Remembrance Gallery, Leadership"
	pubDate={new Date('May 11 2024')}
>

<h3>The Leadership Committee</h3>
<p>Our Leadership Committee consists of</p> 
<ul>
  <li>Eileen Yamada Lamphere (President of Puyallup Valley JACL)</li>
  <li>Liz Dunbar (Fundraising Lead)</li>
  <li>Sharon Sobie Seymour (Project Manager)</li>
  <li>Barb Mizoguchi Asahara (Design Consultant)</li>
</ul>
<img src="/Leadership-Committee.jpg" alt="Photo of Leadership Committee" />
<ImgDescription>One of many planning meetings</ImgDescription>

<img src="/Co-Chairs-Leadership-Team.jpg" alt="Co chairs with the leadership committee" />
<ImgDescription>
  Our Honorary Co-Chairs include, Bill Weyerhaeuser and Frank and Penny Fukui
</ImgDescription>

<h3>The Building Team</h3>

<p>We have 5 imaginative and talented vendors helping to create the Remembrance Gallery</p>
<ul>
  <li>Belle & Wissel (B&W)</li>
  <li>Mountain Construction (MT)</li>
  <li>Blackmouth Design (BMO)</li>
  <li>Imagine Visual Service (IVS)</li>
  <li>Integrity Networks (IN)</li>
  <li>Jill Randerson, Vendor Manager (VM)</li>
</ul>
<img src="/galleryAssets/Construction-Team.jpg" alt="The Construction Team" />
<ImgDescription>Left to Right front row: Jill Randerson (Vendor Mgn), Alley Kloba (IVS), Ryan Gilchrist (IVS), 
  Eileen Yamada Lamphere (JACL Pres), Sharon Sobie Seymour (Project Mgn). <br />
  Back row, left to right: Jes Noparat (B&W), Sarah Sherwood (MC), Rich Batcheller (BMD), Dean Roberts (IN), Fred McDermott (IN), Yousman Okano (B&W).
</ImgDescription>
</Layout>
