---
import Layout from "@layouts/SinglePage.astro";
import NamesTable from '@components/NamesTable'
---
<Layout
  title="Puyallup Assembly Center Names"
  description="These are the names of those incarcerated at the Puyallup Assembly Center in 1942"
	keywords="Remembrance Gallery Incarceration Puyallup Fair family names"
  pubDate={new Date("January 12 2024")}
>
  <p>Our goal is to list every person imprisoned at the “Puyallup Assembly
    Center”. Here is the working list for this project. Please take a moment to
    verify the inclusion of individuals you know.</p>
  <NamesTable client:load />
  <p>To help us fill in any missing names and/or make any corrections please email
    us at <a href="mailto:PuyallupValleyJACL@gmail.com?subject=Gallery Names">PuyallupValleyJACL@gmail.com</a>
  </p>
  <p>Please include in your email the following information below. This will help us research records and validate names.
  </p>
  <ul>
    <li>Name (married and maiden names, if applicable)</li>
    <li>Birthdate (even just the birth year helps)</li>
    <li>City and state lived in before February 19, 1942</li>
    <li>Names of immediate family members (if known)</li>
  </ul>
</Layout>