---
import Layout from '@layouts/SinglePage.astro';
import GalleryPhotosSlider from '@components/GalleryPhotosSlider';

---

<Layout
	title="Gallery Tours"
	description="Contact us to arrange tours of the Remembrance Gallery, classroom presentations, and educator workshops about wartime incarceration in the United States."
	keywords="Remembrance Gallery Tours"
	pubDate={new Date('May 11, 2024')}
>
<GalleryPhotosSlider client:load />
<p>
  The Puyallup Valley JACL offers group tours of the Remembrance Gallery. A visit to the Gallery includes a brief welcome and 
  overview of the three Gallery sections. From there, your group will have time to explore our interactive and immersive 
  content about wartime incarceration at the Fairgrounds, the events and policies that preceded this, and the impacts this 
  had on families and communities across generations. 
</p>
<p class="no-bottom-margin">
  The three distinct areas of exploration in the Gallery include:
</p>
<ul>
  <li>Monument &ndash; Displays over 7,500 names of those imprisoned at the Fairgrounds</li>
  <li>Throughline &ndash;  Utilizes interactive touchscreens to deliver historical content, oral histories about the incarceration 
    experience, interactive maps, and key documents and biographies</li>
  <li>Confinement &ndash;  Displays a replica of one of the 8 foot x 10 foot horse stalls where up to six people lived</li>
</ul>
<p>
  More details are available on our <a href="/gallery">Gallery Overview page</a> or in our <a href="/galleryAssets/RG-Brochure_FINAL.pdf">Gallery brochure</a>. 
</p>
<p>
Interested in a presentation at your school or organization? Refer to our <a href="/gallery/gallery-talks">Talks and Presentations page</a> for 
details and contact information.
</p>
<h3>Scheduling a Visit</h3>
<p class="no-bottom-margin">
  Gallery tours can be arranged by appointment. To learn more, or schedule a time for your visit, email us at
  <a href="mailto:PVJACL_gallerytours@gmail.com">PVJACL_gallerytours@gmail.com</a>.
</p>
<table>
  <tr>
    <td>Time frame:</td>
    <td>20 – 60 minutes</td>
  </tr>
  <tr>
    <td>Maximum group size:</td>
    <td>25 people per session</td>
  </tr>
</table>
<p>
  For larger groups, we recommend scheduling multiple sessions to ensure sufficient time and space to explore the Gallery and engage 
  with its content in a meaningful way.  
</p>
  			
<h3>School Tours</h3>
<p>
  School tours can be arranged for students and teachers from Grade 4 through college. To learn more, or schedule a time for your 
  class to visit, email us at <a href="mailto:PVJACL_gallerytours@gmail.com">PVJACL_gallerytours@gmail.com</a>.
</p>
<p>
  For students, the Remembrance Gallery is intended as a culminating activity that complements classroom-based learning about 
  Japanese American history and the incarceration of people of Japanese descent during World War II.
</p>
<p>
  For educator groups, a visit is intended to familiarize or deepen your understanding of this history in order to enrich classroom instruction.
</p>

<h3>Teacher Resources and Student Activities</h3>
<p>
  Teacher resources and grade-appropriate student activity booklets with suggested activities for before, during, and after a 
  tour or presentation visit can be provided, upon request.
</p>
<h3>Classroom Preparation</h3>
<p class="no-bottom-margin">
  We strongly encourage teachers to review Power of Words to support in your classroom teaching on the topic of wartime 
  incarceration in the United States. This resource ensures: 
</p>
<ul>
  <li>Correct terminology is used in the classroom</li>
  <li>Wartime experience is authentically, and respectfully represented and portrayed</li>
  <li>Accurate historical context is provided to students</li>
</ul>
<p class="no-bottom-margin">
  To best understand wartime incarceration in America, we recommend covering, at a minimum, the following five topics with your students in preparation for your visit:
</p>
<ul>
  <li><a href="https://encyclopedia.densho.org/Alien_land_laws/">Alien land laws</a></li>
  <li><a href="https://encyclopedia.densho.org/Immigration_Act_of_1924/">Immigration Act of 1924</a></li>
  <li><a href="https://encyclopedia.densho.org/December_7,_1941/">Pearl Harbor</a></li>
  <li><a href="https://encyclopedia.densho.org/Executive_Order_9066/">Executive Order 9066</a></li>
  <li><a href="https://encyclopedia.densho.org/Redress_movement/">Redress movement</a></li>
</ul>
<p>
  The Puyallup Valley JACL and the Remembrance Gallery are developing teacher trainings to support classroom instruction on World War II 
  incarceration. Refer to our <a href="/gallery/gallery-training">Educator Trainings page</a> for updates and to learn more about upcoming opportunities.
</p>

<h3>Suggested Classroom Resources</h3>
<p class="no-bottom-margin">
  Below are some suggested readings, most of which are focused on the experiences of Japanese communities in Washington. See our 
  <a href="/history/additional-resources">Additional Resources page</a> for more suggestions. 
</p>

<table>
  <thead>
    <tr>
      <th colspan="2">Seattle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Displacement (graphic novel)</td>
      <td>Kiku Hughes</td>
    </tr>
    <tr>
      <td>We Hereby Refuse (graphic novel)</td>
      <td>Frank Abe and Tamiko Nimura</td>
    </tr>
    <tr>
      <td>Those Who Helped Us	(graphic novel)</td>
      <td>Ken Mochizuki and Kiku Hughes</td>
    </tr>
    <tr>
      <td>We Are Not Strangers (graphic novel)</td>
      <td>Josh Tuininga</td>
    </tr>
    <tr>
      <td>American Grit (biography)</td>
      <td>John Suzuki</td>
    </tr>
    <tr>
      <td>Child Prisoner in American Concentration Camps (memoir)</td>
      <td>Mako Nakagawa</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th colspan="2">Bainbridge Island</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Looking Like the Enemy (memoir)	</td>
      <td>Mary Matsuda Gruenewald</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Only What We Could Carry (collected volume)	</td>
      <td>Lawson Fusao Inada (editor)</td>
    </tr>
    <tr>
      <td>Enemy Child: Norm Mineta (biography)</td>
      <td>Andrea Warren</td>
    </tr>
    <tr>
      <td>They Called Us Enemy(graphic novel)</td>
      <td>George Takei</td>
    </tr>
  </tbody>
</table>

</Layout>

<style lang="scss">
  p.no-bottom-margin {
    margin-bottom: 0;
  }
  table {
    thead {
      background-color: rgba(var(--navigation-background), 50%);
      th {
        text-align: center;
      }
    }
    tbody td {
      border-bottom: 1px dashed gray;
    }
    margin-bottom:2rem;
  }
</style>