---
import Layout from "@layouts/SinglePage.astro";
import NamesTable from '@components/NamesTable'
---
<Layout
  title="Puyallup Assembly Center Names"
  description="These are the names of those incarcerated at the Puyallup Assembly Center in 1942"
	keywords="Remembrance Gallery Incarceration Puyallup Fair family names"
  pubDate={new Date("January 12 2024")}
>
  <p>Our goal is to list every person that was imprisoned at the “Puyallup Assembly
    Center”. Here is the working list for this project. Please take a moment to
    verify the inclusion of individuals you know.</p>
  <NamesTable client:load />
  <p>Stay tuned and we will create a way to update our name lists soon.</p>
</Layout>