---
import Layout from '@layouts/GalleryLayout.astro';
import DonateLinks from '@components/DonateLinks.astro';
---

<Layout
	title="Donate to the Remembrance Gallery"
	description="Donate to the Remembrance Gallery to help us expand the stories we can tell, develop educational resources, and support ongoing operations."
	keywords="Donate Fund Remembrance Gallery"
	pubDate={new Date('Aug 19, 2024')}
>
	<p>
		The Remembrance Gallery is intended to be a living space for learning and dialogue. There are more stories to be told and perspectives to share. 
		The Gallery will not be a static space, and visitors should expect new content and materials every year. <strong>Your donations will ensure we can 
		continue our work to encourage an inclusive understanding of the wrongful incarceration of over 125,000 Japanese and Japanese Americans in the United States during WWII.</strong>
	</p>
	
	<p>
		We are exploring new ways to share the experiences of incarcerees and others affected by wartime incarceration, as well as illuminating 
		the parallels between this history and ongoing threats to civil and human rights. This work involves community consultation, educator outreach, 
		as well as research, collection, and creation of new material. In addition to maintenance and operations support, your donations will fund future 
		content and curriculum development, teacher workshops, school tours, Day of Remembrance events, and AANHPI (Asian American, Native Hawaiian, Pacific Islander) programs.

	</p>

  <DonateLinks allowInMemory={false} />
</Layout>