---
import Layout from '@layouts/GalleryLayout.astro';


---

<Layout
	title="Gallery Location and Hours"
	description="Location and Hours"
	keywords='Remembrance Gallery Location Hours'
	pubDate={new Date('Feb 11, 2025')}
>
<h2>
	Gallery Location and Hours
</h2>
</Layout>

