---
import Layout from '@layouts/GalleryLayout.astro';
import DonateLinks from '@components/DonateLinks.astro';
---

<Layout
	title="Donate to the Remembrance Gallery"
	description="Donate toward the maintenance and operations of the Gallery and associated educational programs"
	keywords="Donate Fund Remembrance Gallery"
	pubDate={new Date('Aug 19, 2024')}
>
	<p>
		Your donations will be used to continue our work encouraging an inclusive understanding of the wrongful 
		incarceration of 125,000 Japanese and Japanese Americans in the United States during WWII. 
		In addition to maintenance and operations, donations will fund future stories, curriculum 
		development, teacher workshops, school tours, Day of Remembrance events, and 
		AANHPI May programs (Asian American, Native Hawaiian, Pacific Islander).
	</p>
  <DonateLinks allowInMemory={false} />
</Layout>