---
import { Image } from "astro:assets";
import Layout from "@layouts/GallerySplash.astro";
import GalleryOpenBanner from '@components/GalleryOpenBanner';

import imgBarbedWire from './assets/_PAC_cropped-barbed-wire.jpg';
---

<Layout
  title="The Remembrance Gallery"
  description="The Remembrance Gallery brings awareness to the history of the “Puyallup Assembly Center”, where over 7,500 Japanese Americans were incarcerated during WWII."
	keywords="Remembrance Gallery Incarceration Puyallup Fair Grandstands Donate Fundraising Venmo Credit card checks"
  pubDate={new Date("December 2023")}
>
  <GalleryOpenBanner client:load />
  <Image id="imgBarbedWire" class="heroImage" src={imgBarbedWire} alt="Behind Barbed Wire, Courtesy of the Tokuda Family Collection, Densho.org" />
  <div id="aboutText" >
    <h4>Our Goal</h4>
    <p>
      The Remembrance Gallery honors the lives that were forever transformed through mass incarceration at the Puyallup Fairgrounds.
    </p>
    <p>
      The Gallery raises awareness about the causes and impacts of this injustice, and emphasizes how this part of American history is still relevant today.
    </p>
  </div>
</Layout>

<style lang="scss">
  #aboutText {
    background-color: rgb(198,182, 132,75%);
    position:absolute;
    right: 0;
    bottom: 1%;
    padding: 0.7rem;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    width: clamp(40%, 35vh, 100%);
    p {
      margin-bottom: 0;
    }
  }
  @media (max-width:45rem) {
    #aboutText {
      position:relative;
      width: auto;
      right:auto;
      font-size: 1rem;
    }
  }
</style>
