
.menuItem {
  a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(var(--gray));
  }
  a:hover {
    text-decoration: underline;
  }
  a:focus-within {
    ul.submenu {
      display: block;
    }
  }
  padding-right: 0.3rem;

}

ul.submenu {
  display:none; 
  position:absolute;
  border: 1px solid white;
  background-color: black;
  padding: 0;
  z-index: 100;
  li {
    list-style: none;
    padding: 0.5rem;
    a {
      font-size: 1rem;
      text-decoration: none;
      font-weight: 700;
      color: white;
    }
  }
}
