---
import Layout from '@layouts/SinglePage.astro';
---

<Layout
	title="About Us"
	description="The Puyallup Valley chapter of the Japanese American Citizens League is an advocate for civil and human rights of all Americans who are affected by injustice and bigotry."
	keywords="JACL National Japanese American Citizens League Injustice Heritage"
	pubDate={new Date('August 08 2021')}
>
<div class="flex-center">
	<img src="/PV-JACL-logo-large.png" alt="Puyallup Valley JACL logo" />
</div>
<p>
	The Puyallup Valley Chapter of the <a href="https://jacl.org">Japanese American Citizens League</a> is strongly 
	involved with educational programs and voter registration. We are currently raising funds for 
	the "Puyallup Assembly Center" Remembrance Gallery to encourage an inclusive understanding of 
	the wrongful incarceration of 125,000 Japanese and Japanese Americans in the United States during 
	WWII. 
</p>
<p>
		The <a href="https://jacl.org">Japanese American Citizens League</a> is a national organization whose ongoing mission is to 
		secure and maintain the civil rights of Japanese Americans and all others who are victimized 
		by injustice and bigotry. The leaders and members of the JACL also work to promote cultural, 
		educational, and social values and preserve the heritage and legacy of the Japanese American 
		community. 
</p>
<h2 id="mission">Our Mission</h2>
<p>
	The <a href="https://jacl.org">Japanese American Citizens League</a> is a national membership-based organization and a 501 (c)3
	non-profit. Their mission is to advocate and safeguard the civil and human rights of Asian and
	Pacific Islander Americans and all communities who are affected by injustice and bigotry. The Puyallup
	Valley Chapter (also includes the former White River Valley Chpt) is part of the Pacific Northwest 
	District of the JACL.
</p>
<p>
	The leaders and members of the JACL also work to promote and preserve the heritage and legacy of the
	Japanese American Community. Puyallup Valley is also focused on education of the wartime incarceration of our communities.
</p>

</Layout>

<style>
	.flex-center {
		display:flex;
		justify-content: center;
	}
	img {
		max-width: 400px;
	}
</style>