---
import Layout from '@layouts/SinglePage.astro';
import DonateLinks from '@components/DonateLinks.astro';
---

<Layout
	title="Donate to the JACL"
	description="The Puyallup Valley chapter of the Japanese American Citizens League is an advocate for civil and human rights of all Americans who are affected by injustice and bigotry."
	keywords="JACL National Japanese American Citizens League Injustice Heritage"
	pubDate={new Date('Aug 23, 2024')}
>
	<p>
		Your donations will be used to continue our work encouraging an inclusive understanding of the wrongful 
		incarceration of 125,000 Japanese and Japanese Americans in the United States during WWII. 
		In addition to maintenance and operations, donations will fund future stories, curriculum 
		development, teacher workshops, school tours, Day of Remembrance events, and 
		AANHPI May programs (Asian American, Native Hawaiian, Pacific Islander).
	</p>
	<DonateLinks allowInMemory={true} />
</Layout>