---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from 'astro:transitions';
import GalleryPhotosSlider from "@/components/GalleryPhotosSlider";

// const posts = (await getCollection("blog"))
//   .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
//   .filter((a) => (!a.data.offline))
//   .slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1 id="long-title">We are the Puyallup Valley JACL</h1>
      <p>
        Welcome to the official website for the Puyallup Valley Chapter of the
        Japanese American Citizens League. The <a href="https://jacl.org"
          >Japanese American Citizens League</a
        > is a national organization whose mission is to advocate and safeguard the
        civil and human rights of Asian and Pacific Islander Americans and all communities
        who are affected by injustice and bigotry. The leaders and members of the
        JACL also work to promote and preserve the heritage and legacy of the Japanese
        American Community.
      </p>
      <h3>Join us for the opening of the Remembrance Gallery</h3>
      <GalleryPhotosSlider client:idle />
      <p><a href="/gallery/">
        The Remembrance Gallery opens on August 30th through September 22nd</a> under the Grandstand at  
        <a href="/gallery/gallery-events/public-grand-opening/">The Washington State Fair</a>. 
      </p>
      <p>The Remembrance Gallery brings awareness to the
        history of the “Puyallup Assembly Center” (PAC), as
        the largest temporary American concentration camp in
        Washington State.</p>
      <p>
        
        With spaces for reflection, immersion, and interaction,
        the Gallery highlights the experiences of the Japanese
        and Japanese Americans incarcerated on this site
        during World War II. It also reinforces social justice
        by educating visitors on historical and contemporary
        examples of civil and human rights violations.
      </p>
      <!-- <ButtonTriggerModal client:idle btnText="Click to see an interstitial">
        <div>
          <h3>Interstitial dialog box</h3>
          <p>
            This is where we can put any HTML to display in an interstitial, or a
            text box that shows up over the webpage. turn isOpen={true} if you want
            this to show up immediately when the page displays.
          </p>
          <ul>
            <li>Any Valid HTML can be inserted here</li>
            <li>This item can be as long as you like</li>
            <li>You can include a photo, as below</li>
          </ul>
          <img src="/Remembrance-Gallery-Render-1.jpg" />
        </div>
      </ButtonTriggerModal> -->
      </main>
    <Footer />
    <style lang="scss">
      .recent-events {
        border: 3px solid rgb(var(--gray));
        h3 {
          font-size: 1.4rem;
          background-color: rgb(var(--gray));
          color: white;
          padding: 0.7rem;
          text-align: center;
        }
        ul {
          padding: 1rem;
          list-style: none;
        }
        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          .date {
            padding: 0 0 0 0.5rem;
            color: var(--accent);
            font-size: 1rem;
          }
          a {
            color: black;
          }
        }
        p {
          margin: 0.5rem 0 0.5 0.5rem;
          line-height: 1.4rem;
          color: black;
        }
      }
    </style>
  </body>
</html>
