---
import Layout from "../layouts/BlogPost.astro";
import BambooChart from "../components/BambooChart";
---

<Layout
  title="The Remembrance Gallery"
  description="The Remembrance Gallery in the Washington State Fair in Puyallup will encourage an inclusive understanding of the wrongful incarceration of 125,000 Japanese and Japanese Americans in the United States during WWII"
  pubDate={new Date("December 2023")}
>
  <img
    src="/Remembrance-Gallery-Render-2.jpg"
    alt="A rendering of the Remembrance Gallery"
  />

  <p>
    The Puyallup Valley Chapter of the Japanese American Citizens League (JACL)
    is building the "Puyallup Assembly Center" Remembrance Gallery. It will
    encourage an inclusive understanding of the wrongful incarceration of
    125,000 Japanese and Japanese Americans in the United States during WWII.
    The Washington State Fair is providing us with this opportunity to build a
    permanent historic exhibit inside the grandstand, which is part of the
    original confinement site. The Gallery will provide comprehensive education
    using the latest techniques in immersive and interactive media design that
    will bring to life personal stories and in-depth content. The names of over
    7,600 who were wrongfully imprisoned on these fairgrounds will be
    permanently displayed​
  </p>

  <img
    src="/Remembrance-Gallery-Render-1.jpg"
    alt="Another rendering of The Remembrance Gallery"
  />

  <p>
    The Gallery will encompass the effects of incarceration throughout the
    state, including those Nikkei who were not removed and non-Japanese
    residents. The "Puyallup Assembly Center” will be used as a reflection of
    other assembly centers, and the ten permanent camps. The stories shared will
    reflect the specific but common aspects of incarceration.
  </p>
  <p>
    The Gallery will serve as a visual reminder of what happened in our past and
    will help highlight the social injustices which resulted from xenophobia,
    prejudice, and wartime hysteria, and allow comparisons to those being denied
    justice today.
  </p>

	<h3>Help us create the Remembrance Gallery</h3>
	<div class="side-by-side">
		<div>
			The fundraising goal is $2 million with a completion date of May 2024.
		</div>
		<div class="contain-bamboo-chart">
			<BambooChart width={300} height={540} amount={1700000} client:visible />
		</div>
	</div>
	<div class="side-by-side">
		<div>
			<h5>Donate via Credit Card</h3>
			<p>
				Square is a secure credit card processor often used by online vendors.
				<a href="https://puyallup-valley-jacl.square.site/">Donate using a credit card with Square</a>
			</p>
			<img class="QR-code" src="/Square-donation.jpg" alt="QR code for Square website"/>
	
		</div>
		<div>
			<h5>Donate via Venmo </h3>
			<p>
				We accept donations through <a href="https://venmo.com/">Venmo</a>. Find us at @PuyallupValleyJACL
				<img class="QR-code" src="/Venmo-URL.jpg" alt="QR code for Venmo" />
			</p>
		</div>
	</div>
	<h5>Donate by check</h5>
	<ul>
		<li>Make checks payable to <strong>Puyallup Valley JACL</strong> with the memo "Remembrance"</li>
		<li>You may add <strong>"In memory of ...."</strong> and/or <strong>"In honor of ..."</strong></li>
	</ul>
	
	<h5>Send your check to</h5>
	<p>
		Puyallup Valley JACL<br />
		P.O. Box 5323<br />
		Kent, WA 98064
	</p>
	
	
</Layout>

<style lang="scss">
  .side-by-side {
    display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		.QR-code {
			max-width: 180px;		
		}
		div {
			width: 330px;
		}
		.contain-bamboo-chart {
			min-height: 610px;
		}
  }
</style>
