---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '@layouts/SinglePage.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
const keywords = post.data.keywords.split(' ');
---

<BlogPost {...post.data}>
	<Content />
	<p><strong>Keywords:</strong> {keywords.join(', ')}</p>
</BlogPost>
