---
const { allowInMemory } = Astro.props;
---

<div class="side-by-side">
  <div>
    <h5>Donate via Credit Card</h3>
    <p>
      Square is a secure credit card processor often used by online vendors.
      <a href="https://puyallup-valley-jacl.square.site/">Donate using a credit card with Square</a>
    </p>
    <img class="QR-code" src="/Square-donation.jpg" alt="QR code for Square website"/>

  </div>
  <div>
    <h5>Donate via Venmo </h3>
    <p>
      We accept donations through <a href="https://venmo.com/">Venmo</a>. Find us at @PuyallupValleyJACL
      <img class="QR-code" src="/Venmo-URL.jpg" alt="QR code for Venmo" />
    </p>
  </div>
</div>
<h5>Donate by check</h5>
<p>Make checks payable to <strong>Puyallup Valley JACL</strong> {allowInMemory ? ' ' : <span> with the memo "Gallery"</span>} </p>

<h5>Please send your checks to:</h5>
<p>
  Puyallup Valley JACL<br />
  P.O. Box 5323<br />
  Kent, WA 98064
</p>

<p>The Puyallup Valley JACL is a <strong>501(c)3 organization, TIN #91-6066838</strong></p>


<style lang="scss">
  .side-by-side {
    display: flex;
		flex-wrap: wrap;
		gap: 2rem;
    margin-bottom: 2rem;
		.QR-code {
			max-width: 180px;		
		}
		div {
			width: 330px;
		}
		.contain-bamboo-chart {
			min-height: 610px;
		}
  }
</style>
