
.names-table {
  .palatino {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.1em;
  }
  table {
    margin:1rem 0;
    border: 2px solid #498148;
    padding-left:4px;
  }
  thead {
    color: #498148;
    text-decoration: underline;
    th {
      font-size: 1rem;
    }
  }
  .column-family-id {
    width: 8rem;
  }
  input[type=radio] {
    margin-right: 0.5rem;
  }
  input[type=text] {
    min-width:20rem;
  }
  .nameFilter {
    margin-left:0.5rem;
    border: 2px solid black;
    padding: 0.3rem;
  }
  .modal-data {
    padding: 1rem 0.5rem;
  }
  .modal-last-name {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .modal-first-name-only {
    margin-left: 3rem;
  }
  .show-family-button {
    float:right;
    margin-right: 1rem;
    vertical-align: baseline;
    width: 22px;
    background-color: #498148;
    border-radius: 8px;
    border: 1px solid black;
    &:hover {
      background-color: rgb(var(--black));
    }
  }
  .table-name-index {
    margin-right: 0.5em;
    color: #498148;
    font-size: 1rem;
  }
  button {
    background-color: #498148;
  }
  button:disabled {
    cursor: not-allowed;
    color: rgb(var(--black));
  }
  .flexy {
    display: flex;
    justify-content: space-between;
  }
}