@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.names-table {
  .sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
  }  
  table {
    margin:1rem 0;
    border: 2px solid rgb(var(--gray));
    padding-left:4px;
  }
  thead {
    color: rgb(var(--gray));
    text-decoration: underline;
    th {
      font-size: 1rem;
    }
  }
  .column-family-id {
    width: 8rem;
  }
  input[type=radio] {
    margin-right: 0.5rem;
  }
  .nameFilter {
    margin-left:0.5rem;
    border: 2px solid black;
    padding: 0.3rem;
  }
  .modal-data {
    padding: 1rem 0.5rem;
  }
  .modal-last-name {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .modal-first-name-only {
    margin-left: 3rem;
  }
  .show-family-button {
    float:right;
    margin-right: 1rem;
    vertical-align: baseline;
    width: 22px;
    background-color: rgb(var(--gray));
    border-radius: 8px;
    border: 1px solid black;
    &:hover {
      background-color: rgb(var(--black));
    }
  }
  .table-name-index {
    margin-right: 0.5em;
    color: rgb(var(--gray));
    font-size: 1rem;
  }
  button:disabled {
    cursor: not-allowed;
    color: rgb(var(--black));
  }
  .flexy {
    display: flex;
    justify-content: space-between;
  }
}