---
import { Image } from 'astro:assets';
import Layout from '@layouts/SinglePage.astro';
import king5Image from './assets/_king5_2024_08_29.png';
import classicCoasterChronicles from './assets/_classic_coaster_chronicles.webp';
import pressReleaseThumbnail from './assets/_press_release_thumbnail.jpg';
import northwestNowThumbnail from './assets/_KBTC_interview.png';
---

<Layout
	title="Recent Media"
	description="Recent appearances of The Puyallup Valley chapter of the Japanese American Citizens League in media."
	keywords="Puyallup Valley JACL Media"
	pubDate={new Date('September 04 2024')}
>

	<h2>Remembrance Gallery Media</h2>

	<h4>Our Gallery Opening Announcement</h4>
	<p class="callout">
		&ldquo;Located under the grandstand, the
		Remembrance Gallery brings awareness to the history of the <strong>Puyallup Assembly Center</strong> (PAC) as the
		largest temporary American concentration camp in Washington State &hellip;&rdquo;
	</p>
	<p>
		<a href="/press_releases/opening_press_release.pdf">
			Read our official annoucement
			<Image src={pressReleaseThumbnail} alt="Our official opening annoucement" />
		</a>	
	</p>

	<h4>KING Television News Report</h4>
	<a href="https://www.king5.com/article/news/local/washington-state-fair-remembrance-gallery/281-10bf1062-ba00-455d-9328-485bc91a0de9" target="_blank">
		<Image src={king5Image} alt="King 5 preview of opening" />
	</a>
	<p class="callout">&ldquo;When we were here, we were in stalls, not in rooms,&rdquo;</p>
	<p><a href="https://www.king5.com/" target="_blank">KING</a> is the local NBC television affiliate in Western Washington. This is <a href="https://www.king5.com/article/news/local/washington-state-fair-remembrance-gallery/281-10bf1062-ba00-455d-9328-485bc91a0de9" target="_blank">KING's coverage of the Remembrance Gallery</a> on August 29, 2024. </p>

	<h4>KBTC Interview About the Gallery</h4>
	<p>Tom Layson, host of the <a href="https://www.kbtc.org/" target="_blank">KBTC</a> program <a href="https://www.pbs.org/show/northwest-now/" target="_blank">Northwest Now</a> interviews Eileen Yamada Lamphere, Sharon Sobie-Seymour and Liz Dunbar about the Remembrance Gallery. Aired on September 12, 2024</p>
	<p class="callout">&ldquo;a lot of people probably don't even realize when they go to the Puyallup fair, what happened there.&rdquo;</p>
	<p>
		<a href="https://www.pbs.org/video/puyallup-japanese-memorial-gallery-wpotnw/" target="_blank">
			<Image src={northwestNowThumbnail} alt="Interview on Northwest Now"/>
		</a>
	</p>
	<h4>A History Lesson on the Classic Coaster Chronicles podcast</h4>
	<p class="callout">&ldquo;This happened here. Right here where they are buying their cotton candy. Where they are getting their corndog. This happened here.&rdquo;</p>
	<p>The Classic Coaster Chronicles podcast gives an audio history lesson about how the Washington State Fairgrounds became the Puyallup Assembly Center to house citizens and residents of Japanese descent. 
		Listen to this interview with Eileen Yamada Lamphere and Sharon Sobie-Seymour at the <a href="https://podcasts.apple.com/us/podcast/s2e4-the-remembrance-gallery-paying-tribute-to/id1628825486?i=1000668093281" target="_blank">Classic Coaster Chronicles</a> website, published on September 2, 2024.
	</p>
	<a href="https://podcasts.apple.com/us/podcast/s2e4-the-remembrance-gallery-paying-tribute-to/id1628825486?i=1000668093281" target="_blank">
		<Image src={classicCoasterChronicles} alt="logo" />
	</a>
</Layout>
